<% content_for :panel_heading do %>About<% end %>
<p align='center' style="font-style: italic;color: indigo;">
Wellcome to Intelligent Counting System.
</p>
<%= image_tag 'ics.jpg', class: "img-responsive1 center-block", :style => "max-width: -webkit-fill-available;", :alt => "avatar" %>
