<% content_for :panel_heading do %>About<% end %>
<p align='center' style="font-style: italic;color: indigo;">
Wellcome to Intelligent Counting System.
</p>
<%#= image_tag 'https://www.0grados.com/admin/wp-content/uploads/2016/08/Neg-El-valor-de-la-logistica.jpg', class: "img-responsive1 center-block1", :style => "max-width: -webkit-fill-available;", :alt => "avatar" %>
<%= image_tag 'ics.jpg', class: "img-responsive1 center-block", :style => "max-width: -webkit-fill-available;", :alt => "avatar" %>
