<p id="notice"><%= notice %></p>

<% content_for :panel_heading do %>Weight Calculator
<% end %>

<div class="container">
  <div class='col-md-5' style="width: 23.666667%;">
    <div class="form-group">
      <%= form_tag wt_totals_path,method: :patch, remote: true  do %>
       <div class='input-group date' id='datetimepicker6'>
        <input id="fromdate" type='text' value="" name="wpp" class="form-control" placeholder="Per Part Weight">
        </div><br>
        <div class='input-group date' id='datetimepicker7'>
        <input id="todate" type='text' value="" name="count" class="form-control" placeholder="No. of Parts">
        </div><br>
       <span><%= submit_tag 'Calculate Weight', class: 'btn btn-success' %></span> 
      <% end %>         
      </div>
    </div>
    <div id="dashboard-totals" style="font-size: -webkit-xxx-large;color: darkblue;font-style: italic;"></div>
  </div>
</div> 