<div>
  Enter Group Size: <%= number_field_tag(:name)%>
  Select Study Site: <%= number_field_tag(:name) %>
</div>
    <%# if :name > 4 %>
            <!-- Hello! -->
    <%# else %>
            <!-- Nope! -->
    <%# end %> 