<div class="timer" style="float: right;width: 495px;">
  <div class="row">
    <div class="col-xs-9 text-right" style="width: 97%;">
      <div class="huge" style="font-size: 30px;">
        <div id="ruby_time" style="float: right;font-weight: bold;color: #093f88;">
          <%= (Time.zone.now).strftime("%d-%m-%Y %I:%M %p") %>
        </div>
      </div>
    </div>
  </div>
</div>s