<li>
          <a href="#"><i class="fa fa-th-list fa-fw"></i> IEMS Menu<span class="fa arrow"></span></a>
          <ul class="nav nav-second-level collapse">
            <li>
              <%= link_to '<i class="fa fa-video-camera fa-fw" aria-hidden="true"></i> Employee Productivity</a>'.html_safe, productivity_path() %>
            </li>
            <li>
              <%#= link_to '<i class="fa fa-bar-chart-o fa-fw"></i> Analytics</a>'.html_safe, charts_path() %>
            </li>
            <li>
              <%#= link_to '<i class="fa fa-upload fa-fw" aria-hidden="true"></i> Masters Upload</a>'.html_safe, import_index_path() %>
            </li>
            <li>
              <%#= link_to '<i class="fa fa-tasks fa-fw"></i> Trackers</a>'.html_safe, trackers_path() %>
            </li>
            <li>
              <%#= link_to '<i class="fa fa-credit-card fa-fw"></i> Weight Calculator</a>'.html_safe, charts_path() %>
            </li>
            <li>
          <%#= link_to '<i class="fa fa-user fa-fw"></i>Profile</a>'.html_safe, user_path(current_user) %>
            </li>
            <li>
          <a href="/productivity">
            <i class="fa fa-info-circle fa-fw"></i>
            About IEMS</a>
          </li>
          <% if user_signed_in? %>
            <li class="divider"></li>
            <li>
              <%#= link_to '<i class="fa fa-sign-out fa-fw"></i>Logout</a>'.html_safe, destroy_user_session_path, :method=>'delete' %>
            </li>
            <% end %>
          </ul>
        </li>
       